* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
        
}

.wrapper {
    margin: 0 auto;
    width: 500;
    
}
.ini {
    text-align: center;
}


.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 50%;
    margin-left: 50%;
    display: flex;
    justify-content:space-around;
}

button {
    width: 150px;
    height: 30px;
    margin: 20px 0;
}

